@font-face 
  font-family: 'sell-icon'
  src:  url('../fonts/sell-icon.eot?6r14fl')
  src:  url('../fonts/sell-icon.eot?6r14fl#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?6r14fl') format('truetype'),
    url('../fonts/sell-icon.woff?6r14fl') format('woff'),
    url('../fonts/sell-icon.svg?6r14fl#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important 
  speak: none 
  font-style: normal 
  font-weight: normal 
  font-variant: normal 
  text-transform: none 
  line-height: 1 

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased 
  -moz-osx-font-smoothing: grayscale 
 

.icon-add_circle:before  
  content: "\e903" 
 
.icon-arrow_lift:before  
  content: "\e905" 
 
.icon-check_circle:before  
  content: "\e906" 
 
.icon-close:before  
  content: "\e907" 
 
.icon-favorite:before  
  content: "\e908" 
 
.icon-keyboard_arrow_right:before  
  content: "\e909" 
 
.icon-remove_circle_outline:before  
  content: "\e90a" 
 
.icon-shopping_cart:before  
  content: "\e90b" 
 
.icon-thumb_down:before  
  content: "\e90c" 
 
.icon-thumb_up:before  
  content: "\e90d" 
 
.icon-github:before  
  content: "\e900" 
 
.icon-tencentqq:before  
  content: "\e901" 
  color: #eb1923 
 
.icon-sinaweibo:before  
  content: "\e902" 
  color: #e6162d 
 
.icon-wechat:before  
  content: "\e904" 
  color: #7bb32e 
 
